<!DOCTYPE html>
<html>
    
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-card>
            <mat-form-field>
                <input matInput type="text" name="title" ngModel required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput  rows="5" name="content" ngModel required></textarea>
            </mat-form-field>
            <button color="accent" mat-raised-button type="submit">Save Post</button>
        </mat-card>

    </form>
        
    <!--name="" id="" cols="30" rows="10" [value]="'No Content'" #postInput-->
    <hr>
    <!--<button (click)="onAddPost(postInput)"> Save Post</button>
    <p>{{ NewPost }}</p>-->
    
</html>