<div class="page-container">
  <app-header>
    <div class="play-container">
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/list">Subjects</a></li>
        </ul>
      </nav>
    </div>
  </app-header>
    <main>
      <h2>Create Post</h2>
        <div class="content-wrap">
          <app-post-create (postCreated)="onPostAdded($event)"></app-post-create>
          
          <app-post-list></app-post-list>
        </div> 
    </main>

</div>
<div class="contianer">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
