<div class="container mt-5 mb-5">
    <div class="card-deck mb-3 text-center">


        <div *ngFor="let plan of plans" class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{plan.name}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{plan.price | currency:'INR'}} <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Email support</li>
                <li>Help center access</li>
                <li>Add more features here</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>        
            </div>
        </div>
    

    </div>
</div>
