<html>
    <div class="play-container">
        <p>Please enter your details below</p>
        <mat-form-field>
        <input type="text" name="first_name" placeholder="Name">
        <input type="text" name="middle_name" placeholder="Middle Name">
        <input type="text" name="surname" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="phone" placeholder="Phone Number">
        <input type="text" name="parent_name" placeholder="Parent's Name">
        <input type="text" name="parent_surname" placeholder="Parent's Surname">
        <input type="password" name="password" placeholder="Password">
        <input type="email" name="parent_email" placeholder="Parent's Email">
        <input type="password" name="confirm_password" placeholder="Confirm password">
        <input type="button" value="submit" name="Submit">
        </mat-form-field>
    </div>
</html>